


.box {
  @include flex();
  width: 100%;

  &--center {
    @include flex-pos();
  }

  &--start {
    @include flex-pos(flex-start, flex-start, flex-start);
  }

  &--desktop {
    @include flex();
    
    width: 100%;
    max-width: $max-content;
    margin: 0 auto;
  }

  &--row { flex-direction: row; }
  &--column { flex-direction: column; }
  &--nowrap { flex-wrap: nowrap; }
  &--wrap { flex-wrap: wrap; }
  &--center { @include flex-pos(); }
  &--x-center { justify-content: center; }
  &--y-center { @include flex-pos(null, null, flex-start); }
  &--y-start { @include flex-pos(flex-start, flex-start, flex-start); }
}