


.carousel {
  @include flex(row, nowrap);

  padding-bottom: $gutter-xl;

  overflow: hidden;

  position: relative;

  &__item {

    min-width: 100%;

    opacity: 0;

    position: relative;

    &.active {
      opacity: 1;
    }
  }



  &__nav {
    @include flex();
    @include flex-pos(center, center, null);

    width: 100%;

    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__btn--right {
    margin-left: auto;
  };

  &__dots {
    @include flex();
    @include flex-pos();

    flex-grow: 1;

    padding: 0 $gutter-sm;
  }

  &__dot {
    width: 17px;
    height: 17px;

    margin: 0 $gutter-xs / 3;

    background-color: transparent;
    border: 2px solid $alpha;
    border-radius: $radius-circle;

    &:hover { box-shadow: $box-shadow; }

    &.active {
      background-color: $alpha;
    }
  }
}