


.footer {
  @include flex();

  width: 100%;

  padding: $gutter;

  background-color: $gray-3;
  color: #fff;

  &__info {

    font-size: $font-size-sm;
  }

  &__copy {
    margin-right: auto;
  }
}