


.card {
  @include flex();
  @include flex-pos(flex-start, flex-start, flex-start);

  width: 100%;

  margin-top: $gutter;
  padding: $gutter;

  background-color: #fff;
  border-radius: $radius-xs * 2;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);

  overflow: hidden;



  &__header {
    width: 100%;

    margin-bottom: $gutter;
    padding: $gutter-xs 0;

    font-size: $font-size;
  }

  &__heading {
    font-size: $font-size-lg;
  }



  &__photo-box {
    @include flex();
    @include flex-pos();

    max-height: 250px;
  }
}



@include up($md){

  .card {

    &__header {
      padding: $gutter-sm 0;
    }
  }
}

@include up($lg){

  .card {
    margin-top: 0;
  }
}