


.find {
  background: url('../../../images/findcurve.svg');
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;



  &__heading { color: #fff; }



  &__form {
    width: 100%;
  }

  &__group {

    &--at { padding-top: 0; }
  }

  &__input { border: none; }

  &__label { color: #fff; }
  


  &__all-flights {
    margin-top: $gutter;
  }
}



@include up($lg){

  .find {
    grid-column: 3
  }
}