.friends {
  @include flex(column, nowrap);



  &__photo-box {
    width: 70px;
    height: 70px;

    border-radius: $radius-circle;
    border: 4px solid #fff;

    overflow: hidden;
  }

  &__photo {
    width: 100%;
  }


  
  &__cto {
    margin: $gutter-lg auto;
    text-align: center;
  }
}