


.header {
  @include flex();
  width: 100%;

  padding: $gutter-xs;

  background-color: $alpha;
  background: linear-gradient(to right, $beta, $alpha);
  color: #fff;

  z-index: 10;

  @include position(sticky, top, right);


  &__photo-box {
    width: 55px;
    height: 55px;

    margin-right: $gutter-sm;

    border-radius: $radius-circle;

    overflow: hidden;
  }

  &__photo {
    width: 100%;
  }

  &__email {
    font-size: $font-size-sm;
    opacity: 0.75;
  }

  &__btn {

    &--menu {
      margin-left: auto;
    }
  }


  
  &__nav {
    @include flex();
    @include flex-pos();

    width: 100%;

    &--bottom {
      background-color: $alpha;

      @include position(fixed, bottom, right);
    }

    &--desktop { display: none; }
  }



  &__social-box { display: none; }
}



@include up($md){
  
  .header {
    @include flex-pos(flex-start, flex-start, center);

    width: 230px;
    height: 100%;

    padding: 0;

    background: linear-gradient(to bottom right, $beta, $alpha);

    z-index: 10;

    @include position(fixed, top, left);



    &__nav {

      &--bottom {
        display: none;
      }

      &--desktop {
        display: flex;
        margin-top: $gutter-md;
      }
    }


    &__btn {

      &--menu { display: none; }
    }



    &__photo-box {
      width: 120px;
      height: 120px;

      margin: $gutter-sm 0;
    }

    &__info-box {
      width: 100%;
      text-align: center;
    }

    &__btn--nav {
      @include flex();
      
      width: 100%;

      padding: $gutter-xs $gutter-xs $gutter-xs 0;

      background-color: transparent;
      color: #fff;
      font-size: $font-size-sm;

      transition: 150ms ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
      }

      &.active {
        background-color: #fff;
        color: $alpha;
      }
    }

    &__icon-box {
      width: 60px;
    }



    &__social-box {
      display: flex;

      padding-bottom: $gutter;
      
      @include position(absolute, bottom, right);
      
      & a {
        margin: 0 $gutter-xs / 4;
        font-size: $font-size-lg;
      }
    }
  }
}