


.rent {
  @include flex(column, nowrap);
  @include flex-pos();
  
  padding: 0;
  padding-bottom: $gutter-sm;

  background-color: #fff;
  background: left top / 100% $font-size-5xl * 1.8 no-repeat url('../../../images/rentcurve.svg');



  &__heading {
    padding: $gutter-xs;

    color: #fff;
  }


  &__para {
    width: 100%;
    padding-left: $gutter;

    &--top {
      margin-top: $gutter;
    }
  }

  &__photo {
    margin-left: auto;
  }

  &__more {
    margin-top: $gutter;
    margin-right: $gutter;
  }
}