


.rent {
  
  @include flex(column, nowrap);
  
  padding: 0;
  padding-bottom: $gutter;


  
  &__header {
    background: linear-gradient(to bottom right, $beta, $alpha);
  }

  &__heading {
    padding: $gutter-xs;

    color: #fff;
  }


  &__para {
    width: 100%;
    padding-left: $gutter;

    &--top {
      margin-top: $gutter;
    }

    &--gutter {
      margin-bottom: $gutter;
    }
  }

  &__photo {
    margin-left: auto;
  }

  &__more {
    margin-top: auto;
    margin-right: $gutter;
  }
}



@include up($lg){

  .rent {

    &__header {
      padding: $gutter $gutter-xs;
    }
  }
}