


.scheduled {

  &__photo-box {
    @include flex();
    @include flex-pos();

    max-height: 250px;
  }

  &__info {
    
    margin-top: $gutter-xs;

    &--city {
      width: 100%;
      font-size: $font-size-md;
      font-weight: 700;
    }

    &--date {
      opacity: 0.6;

      &::after {
        content: ",";
      }
    }

    &--hour {
      margin-left: $gutter-xs;
      opacity: 0.6;
    }
  }
}



@include up($lg){

  .scheduled {
    grid-column: 1 / span 2;
  }
}