


.user {
  grid-column: 1 / span 3;

  margin-top: 0;

  position: relative;


  &__name {
    color: $alpha;
  }

  &__email {
    font-size: $font-size-sm;
    opacity: 0.4;
  }

  &__btn {

    &--menu {
      @include position(absolute, top, right);
    }
  }
}



@include up($sm){

  .user {

    &__btn--menu {
      top: $gutter-xs;
      right: $gutter-xs;
    }
  }
}

@include up($lg){
  
  .user {
    grid-column: 1 / -1;
  }
}