


.weather {

  &__city-box {
    padding: $gutter-sm 0;
  }
  
  &__city {
    color: $alpha;
  }

  &__time {
    opacity: 0.6;
    font-size: $font-size-sm;
  }



  &__status { margin-left: $gutter-sm; }
}