* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  color: #4d4d4d;
}

a {
  color: #4d4d4d;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, input, select, option, textarea, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: "Quicksand", sans-serif;
  vertical-align: baseline;
  text-decoration: none;
}

applet, object, iframe,
input, select, option, textarea {
  font-size: 18px;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 5px rgba(150, 150, 150, 0.5);
          box-shadow: 0 0 5px rgba(150, 150, 150, 0.5);
}

body {
  line-height: 28.8px;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

.page--overflow {
  overflow: hidden;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 1.25em;
  background-color: #4d4d4d;
  color: #fff;
}

.footer__info {
  font-size: 14.4px;
}

.footer__copy {
  margin-right: auto;
}

.svg--logo {
  width: 100%;
  position: absolute;
}

.link--padding {
  padding: 0 0.625em;
}

.link--white {
  color: white;
}

.link--small {
  font-size: 14.4px;
}

.link--opacity {
  opacity: 0.8;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.link--opacity:hover {
  opacity: 1;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.box--center {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box--start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.box--desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.box--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.box--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box--nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.box--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box--center {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box--x-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box--y-center {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.box--y-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.btn {
  padding: 0.625em 0.9375em;
  font-size: 18px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.btn:hover {
  cursor: pointer;
}

.btn--squared {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 39.6px;
  height: 39.6px;
  padding: 0;
  position: relative;
}

.btn--circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 39.6px;
  height: 39.6px;
  padding: 0;
  border-radius: 10000px;
  position: relative;
}

.btn--rounded {
  border-radius: 10000px;
}

.btn--margin-h {
  margin: 0 0.125em;
}

.btn--alpha {
  background-color: #0690C4;
  color: #fff;
}

.btn--alpha:hover {
  background-color: #fff;
  color: #0690C4;
}

.btn--beta {
  background-color: #5AD1FF;
  color: #fff;
}

.btn--beta:hover {
  background-color: #fff;
  color: #5AD1FF;
}

.btn--green {
  background-color: #51db2f;
  color: #fff;
}

.btn--green:hover {
  background-color: #fff;
  color: #51db2f;
}

.btn--white {
  background-color: #fff;
  color: #0690C4;
}

.btn--white:hover {
  background-color: #0690C4;
  color: #fff;
}

.btn--gray {
  background-color: gray;
  color: #fff;
}

.btn--gray:hover {
  background-color: #fff;
  color: gray;
}

.btn--transparent {
  background-color: transparent;
  color: #0690C4;
}

.btn--transparent:hover {
  background-color: #0690C4;
  color: #fff;
}

.btn--transparent-alt {
  background-color: transparent;
  color: #fff;
}

.btn--transparent-alt:hover {
  background-color: #0690C4;
}

.btn--outline-alpha {
  background-color: transparent;
  color: #0690C4;
  border: 1px solid #0690C4;
}

.btn--outline-alpha:hover {
  background-color: #0690C4;
  color: #fff;
}

.btn--outline-beta {
  background-color: transparent;
  color: #5AD1FF;
  border: 1px solid #5AD1FF;
}

.btn--outline-beta:hover {
  background-color: #5AD1FF;
  color: #fff;
}

.btn--outline-green {
  background-color: transparent;
  color: #45cd23;
  border: 1px solid #45cd23;
}

.btn--outline-green:hover {
  background-color: #51db2f;
  color: #fff;
  border: 1px solid #51db2f;
}

.btn--outline-white {
  background-color: transparent;
  color: white;
  border: 1px solid #fff;
}

.btn--outline-white:hover {
  background-color: white;
  color: #0690C4;
}

.btn--text-alpha {
  color: #0690C4;
}

.btn--text-gray {
  color: gray;
}

.btn--text-white {
  color: #fff;
}

.btn--no-border {
  border: none;
}

.btn--no-radius {
  border-radius: 0;
}

.btn__icon-center {
  position: absolute;
}

.btn__icon-box {
  font-size: 21.6px;
  position: absolute;
}

.btn__icon--left {
  margin-left: 0.625em;
}

.text--alpha {
  color: #0690C4;
}

.text--beta {
  color: #41caff;
}

.font-size {
  font-size: 10.8px;
}

.font-size--xs {
  font-size: 10.8px;
}

.font-size--sm {
  font-size: 14.4px;
}

.font-size--md {
  font-size: 21.6px;
}

.font-size--lg {
  font-size: 25.2px;
}

.font-size--xl {
  font-size: 28.8px;
}

.font-size--2xl {
  font-size: 32.4px;
}

.font-size--3xl {
  font-size: 36px;
}

.font-size--4xl {
  font-size: 39.6px;
}

.font-size--5xl {
  font-size: 43.2px;
}

.font-size--6xl {
  font-size: 46.8px;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0.625em 0;
}

.form__control {
  width: 100%;
  padding: 0.3125em 0.625em;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  border: 1px solid #999999;
  border-radius: 10000px;
  -webkit-box-shadow: 0 2.4px 7.2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2.4px 7.2px rgba(0, 0, 0, 0.3);
}

.form__control--textarea {
  border-radius: 18px;
}

.form__control--range {
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
}

.form__control--range:focus {
  outline: none;
  -webkit-box-shadow: 0 2.4px 7.2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2.4px 7.2px rgba(0, 0, 0, 0.3);
}

.form__control--range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.3rem;
  cursor: pointer;
  animate: 0.2s;
  background: #0690C4;
  border-radius: 10rem;
}

.form__control--range::-webkit-slider-thumb {
  border: 0.2rem solid white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  background: #69d2fa;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.65rem;
}

.form__control--range:focus::-webkit-slider-runnable-track {
  background: #0690C4;
}

.form__control--range::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #0690C4;
  border-radius: 10rem;
}

.form__control--range::-moz-range-thumb {
  border: 0.2rem solid white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  background: #69d2fa;
  cursor: pointer;
}

.form__control--range::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

.form__control--range::-ms-fill-lower {
  background: #0690C4;
  border: 0.2rem solid white;
  border-radius: 10rem;
}

.form__control--range::-ms-fill-upper {
  background: #0690C4;
  border: 0.2rem solid white;
  border-radius: 10rem;
}

.form__control--range::-ms-thumb {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  background: #69d2fa;
  cursor: pointer;
}

.form__control--range:focus::-ms-fill-lower {
  background: #0690C4;
}

.form__control--range:focus::-ms-fill-upper {
  background: #0690C4;
}

.form__control::-webkit-input-placeholder {
  color: gray;
}

.form__control:-ms-input-placeholder {
  color: gray;
}

.form__control::-ms-input-placeholder {
  color: gray;
}

.form__control::placeholder {
  color: gray;
}

.form__control.is-invalid {
  -webkit-box-shadow: 0 2.4px 7.2px rgba(255, 0, 0, 0.5);
          box-shadow: 0 2.4px 7.2px rgba(255, 0, 0, 0.5);
  border: 1px solid red;
}

.form__control.is-valid {
  -webkit-box-shadow: 0 2.4px 7.2px #19ff19;
          box-shadow: 0 2.4px 7.2px #19ff19;
  border: 1px solid #00d300;
}

@media (min-width: 576px) {
  .form__group {
    padding: 0.625em;
  }
}

.m-l {
  margin-left: 0.625em;
}

.m-r {
  margin-right: 0.625em;
}

.m-t {
  margin-top: 0.625em;
}

.m-b {
  margin-bottom: 0.625em;
}

.m-h {
  margin: 0 0.625em;
}

.m-v {
  margin: 0.625em 0;
}

.m-all {
  margin: 0.625em;
}

.image {
  width: 100%;
}

.image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 400px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
}

.modal-box {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.modal-box.active {
  opacity: 1;
}

.modal-box.active .modal {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.modal--xs {
  max-width: 100px;
}

.modal--sm {
  max-width: 250px;
}

.modal--md {
  max-width: 550px;
}

.modal--lg {
  max-width: 1000px;
}

.modal--xl {
  max-width: 100%;
}

.modal__close-btn {
  width: 36px;
  height: 36px;
  margin: 0.625em;
  margin-left: auto;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 18px;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.modal__close-btn:hover {
  background-color: black;
}

.modal__close-btn:focus {
  -webkit-box-shadow: 0 0 5px rgba(150, 150, 150, 0.5);
          box-shadow: 0 0 5px rgba(150, 150, 150, 0.5);
}

.modal__list {
  width: 100%;
  padding-top: 1.25em;
}

.modal__item {
  padding: 0.9375em 1.25em;
}

.modal__link {
  color: #fff;
}

.header {
  padding: 0.625em;
  background-color: #0690C4;
  background: -webkit-gradient(linear, left top, right top, from(#5AD1FF), to(#0690C4));
  background: linear-gradient(to right, #5AD1FF, #0690C4);
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
}

.header__photo-box {
  width: 55px;
  height: 55px;
  margin-right: 0.9375em;
  border-radius: 10000px;
  overflow: hidden;
}

.header__photo {
  width: 100%;
}

.header__email {
  font-size: 14.4px;
  opacity: 0.75;
}

.header__btn--menu {
  margin-left: auto;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.header__nav--bottom {
  background-color: #0690C4;
  position: fixed;
  bottom: 0;
  right: 0;
}

.border {
  border: 1px solid red;
}

.border-g {
  border: 1px solid green;
}

.border-b {
  border: 1px solid blue;
}

.border-k {
  border: 1px solid black;
}
/*# sourceMappingURL=styles.css.map */