


// Main imports
@import 'variables';
@import 'reset';


// Mixins
@import './base/mixins/position';
@import './base/mixins/sizing';
@import './base/mixins/flex';
@import './base/mixins/breakpoints';
@import './base/mixins/keyframes';


// Blocks
@import './base/blocks/page';
@import './base/blocks/footer';
@import './base/blocks/svg';
@import './base/blocks/link';
@import './base/blocks/box';
@import './base/blocks/btn';
@import './base/blocks/text';
@import './base/blocks/font';
@import './base/blocks/form';
@import './base/blocks/margin';
@import './base/blocks/image';
@import './base/blocks/modals';


// Local blocks
@import './local/blocks/header';





// Helpful classes for development
.border {
  border: 1px solid red;

  &-g { border: 1px solid green; }
  &-b { border: 1px solid blue; }
  &-k { border: 1px solid black; }
}
